{
  "extends": ["standard", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": [
    "standard",
    "react"
  ],
  "globals": {
    "shallow": true
  },
  "env": {
    "jest": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-return-assign": 0,
    "react/react-in-jsx-scope": 0
  },
  "settings": {
    "react": {
      version: "^16.2"
    }
  }
}
