{
  "extends": ["standard", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": [
    "standard",
    "react"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-return-assign": 0,
    "react/react-in-jsx-scope": 0
  }
}
