# dependencies
node_modules

# logs
npm-debug.log

# Next build
.next

# Nuxt generate
dist

.DS_Store
.env
yarn-error.log

coverage/lcov-report
coverage/clover.xml
coverage/coverage-summary.json
coverage/coverage-final.json
coverage/lcov.info
